{
  "extends": ["airbnb", "prettier"],
  "root": true,
  "parser": "@babel/eslint-parser",
  "parserOptions": {
  "sourceType": "module",
  "allowImportExportEverywhere": true,
  "requireConfigFile": false,
  "babelOptions": {
    "presets": ["@babel/preset-react"]
    }
  },
  "rules": {
    "arrow-parens": ["error", "always"],
    "no-multiple-empty-lines": ["error", { "max": 1, "maxEOF": 0, "maxBOF": 0 }],
    "object-curly-newline": ["error", { "consistent": true }],
    "react/prop-types": ["error"],
    "jsx-a11y/label-has-for": ["error", { "required": { "every": ["id"] }, "allowChildren": true }],
    "react/forbid-prop-types": ["error", { "forbid": ["any"] }],
    "react/jsx-filename-extension": ["error", { "extensions": [".js",".tsx"] }],
    "no-unused-vars": ["error"],
    "import/order": ["error"],
    "radix": "error",
    "semi": ["error", "always"],
    "react/self-closing-comp": "error",
    "react/require-default-props": ["error"],
    "import/prefer-default-export": ["error"],
    "no-plusplus": "error",
    "no-nested-ternary": "error",
    "no-console": [
      "error",
      {
        "allow": ["warn", "error"]
      }
    ],
    "camelcase": [
      "error",
      {
        "allow": ["[a-z]+(_[a-z]+)*"]
      }
    ],

    // Rules which will be changed to error eventually
    "react/destructuring-assignment": ["warn"],
    "no-alert": ["warn"],
    "import/no-named-default": ["warn"],
    "no-confusing-arrow": ["warn"],
    "react/jsx-key": "warn",
    "array-callback-return": "warn",
    "no-unused-expressions": "warn",
    "react/jsx-boolean-value": "warn",

    // Rules which are off
    "import/no-extraneous-dependencies": ["off"],
    "import/no-unresolved": ["off"],
    "prefer-promise-reject-errors": ["off"],
    "no-underscore-dangle": ["off"],
    "react-hooks/exhaustive-deps": "off",
    "react/function-component-definition": ["off"],
    "jsx-a11y/anchor-is-valid": ["off"],
    "jsx-a11y/click-events-have-key-events": ["off"],
    "jsx-a11y/no-noninteractive-element-interactions": ["off"],
    "jsx-a11y/no-static-element-interactions": ["off"],
    "react/react-in-jsx-scope": ["off"],
    "react-hooks/rules-of-hooks": "off",
    "import/extensions": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "react/jsx-props-no-spreading": "off"
  },
  "env": {
    "jest": true,
    "browser": true,
  }
}
