.custom-modal-style {
    width: 670px !important;
    margin: 0 auto;
}

.custom-larger-than-medium-modal-style {
    width: 540px !important;
    margin: 0 auto;
}

.modal-dialog {
    max-width: none !important;
}
.custom-modal-project-details {
    width: 78% !important;
    margin: 0 auto;
}

// Tooltip
.show-more-popover-body {
    padding: 0.2rem 0;
    border: none;
}
.tooltip-option{
    padding: 0.3rem 1rem;
    cursor: pointer;
}
.tooltip-option:hover{
    background-color: #E9F3FF;
}
.tooltip-option-active{
    background-color: #E9F3FF;
}