@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
@layer base {
  :root {
    --tru-blue: #0185E4;
    --tru-grey: #6A7071;
  }
} */

@layer base {
  .flexternships-page * {
    @apply box-border m-0 p-0 border-0;
  }
  body {
    @apply bg-grey-light
  }
}

.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}